# Enable expert mode
CONFIG_EXPERT=y
# Enable ELF
CONFIG_BINFMT_ELF=y
# Defaults
CONFIG_PRINTK=y
CONFIG_PRINTK_TIME=y
CONFIG_FUTEX=y
CONFIG_FHANDLE=y
CONFIG_LOCALVERSION_AUTO=y
CONFIG_BSD_PROCESS_ACCT=y
# Enable proc fs
CONFIG_PROC_FS=y
# Enable sysctl support
CONFIG_PROC_SYSCTL=y
# Timers config
CONFIG_POSIX_TIMERS=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_NO_HZ_IDLE=y
CONFIG_NO_HZ=y
CONFIG_HZ=1000
CONFIG_HZ_1000=y
# Enable mulitiuser mode
CONFIG_MULTIUSER=y
# Enable processor selection
CONFIG_PROCESSOR_SELECT=y
# Enable CPU isolation
CONFIG_CPU_ISOLATION=y
# Trim module symbols
CONFIG_TRIM_UNUSED_KSYMS=y
# Enable module signing
CONFIG_MODULE_SIG=y
CONFIG_MODULE_SIG_FORMAT=y
CONFIG_MODULE_SIG_FORCE=y
CONFIG_MODULE_SIG_ALL=y
CONFIG_MODULE_SIG_SHA512=y
CONFIG_MODULE_SIG_HASH="sha512"
CONFIG_MODULE_SIG_KEY="certs/signing_key.pem"
CONFIG_SYSTEM_DATA_VERIFICATION=y
# Enable input
CONFIG_INPUT=y
CONFIG_HID_GENERIC=y
CONFIG_HID=y
CONFIG_INPUT_KEYBOARD=y
CONFIG_KEYBOARD_ATKBD=y
# Basic networking
CONFIG_UNIX=y
