CONFIG_PARTITION_ADVANCED=y
CONFIG_MSDOS_PARTITION=y
# MSDOS
CONFIG_MISC_FILESYSTEMS=y
CONFIG_MSDOS_FS=y
CONFIG_FAT_FS=y
CONFIG_VFAT_FS=y
CONFIG_EXFAT_FS=y
CONFIG_NTFS_FS=y
CONFIG_NTFS_RW=y
CONFIG_NTFS3_FS=y
# Character sets
CONFIG_NLS_ISO8859_1=y
CONFIG_NLS_UTF8=y
CONFIG_NLS_ASCII=y
CONFIG_NLS_CODEPAGE_437=y
