# Board
# Set clock on boot
CONFIG_RTC_HCTOSYS=y
CONFIG_RTC_HCTOSYS_DEVICE="rtc0"
# i2c
CONFIG_I2C_PIIX4=y
# i2c bitbanging
CONFIG_I2C_ALGOBIT=y
# Enable pc speakcer
CONFIG_PCSPKR_PLATFORM=y
# Watchdog
CONFIG_SP5100_TCO=y
# Power
CONFIG_POWER_RESET=y
# Firmware loader
CONFIG_FW_LOADER=y
CONFIG_FW_LOADER_USER_HELPER=y
CONFIG_FW_LOADER_SYSFS=y
CONFIG_FW_LOADER_PAGED_BUF=y

# X86
CONFIG_ACPI=y
CONFIG_X86_64=y
CONFIG_X86_AMD_PLATFORM_DEVICE=y
CONFIG_COMMON_CLK=y
CONFIG_HAVE_CLK=y
# Enable large processor support
CONFIG_NR_CPUS_RANGE_BEGIN=2
CONFIG_NR_CPUS_RANGE_END=512
CONFIG_NR_CPUS=512
# Set server preemption
CONFIG_PREEMPT_NONE=y

# Serial
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y

# IPMI
CONFIG_IPMI_HANDLER=y
# SMBus Handler
CONFIG_IPMI_SSIF=y
# IPIM ACPI Management
CONFIG_ACPI_FPDT=y
CONFIG_ACPI_IPMI=y
# IPMI System interface handler
CONFIG_IPMI_SI=y
# IPMI Character device interface
CONFIG_IPMI_DEVICE_INTERFACE=y
CONFIG_INPUT_JOYDEV=y
# ACPI
CONFIG_CPU_FREQ=y
CONFIG_X86_ACPI_CPUFREQ=y
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=y
CONFIG_X86_AMD_PSTATE=y
CONFIG_CPU_FREQ_GOV_PERFORMANCE=y
CONFIG_CPU_FREQ_GOV_POWERSAVE=y
CONFIG_CPU_FREQ_GOV_USERSPACE=y
CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE=y

# Display
CONFIG_DRM=y
CONFIG_DRM_TTM=y
CONFIG_DRM_TTM_HELPER=y
CONFIG_DRM_AST=y
CONFIG_DRM_VRAM_HELPER=y
CONFIG_DRM_KMS_HELPER=y
# FB
CONFIG_FB=y
CONFIG_FB_EFI=y
CONFIG_DRM_FBDEV_EMULATION=y
CONFIG_FRAMEBUFFER_CONSOLE=y

# Storage
# Enable block devices
CONFIG_BLOCK=y
CONFIG_BLK_DEV=y
# Enable SCSI
CONFIG_SCSI=y
CONFIG_SCSI_LOWLEVEL=y
CONFIG_SCSI_SCAN_ASYNC=y
SCSI_SAS_ATTRS=y
CONFIG_BLK_DEV_SD=y
# Disable unneeded modules
# CONFIG_SCSI_PROC_FS is not set
CONFIG_SCSI_MPT3SAS=y
CONFIG_SCSI_SAS_ATTRS=y
# Device specific
CONFIG_SCSI_MPT3SAS=y
CONFIG_SCSI_SAS_ATTRS=y
# EFI
CONFIG_PARTITION_ADVANCED=y
CONFIG_EFI_PARTITION=y
CONFIG_EFIVAR_FS=y


# Networking
CONFIG_NETDEVICES=y
CONFIG_PCI=y
# Enable ethernet drivers
CONFIG_ETHERNET=y
CONFIG_PHYLIB=y
CONFIG_MDIO=y
CONFIG_MDIO_DEVICE=y
# Enable broadcom devices
CONFIG_NET_VENDOR_BROADCOM=y
CONFIG_TIGON3=y
CONFIG_TIGON3_HWMON=y
CONFIG_PTP_1588_CLOCK_OPTIONAL=y
