# 64 bits
CONFIG_64BIT=y
# X86
CONFIG_ACPI=y
CONFIG_X86_64=y
CONFIG_COMMON_CLK=y
# ACPI
CONFIG_CPU_FREQ=y
CONFIG_X86_ACPI_CPUFREQ=y
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=y
CONFIG_X86_AMD_PSTATE=y
CONFIG_CPU_FREQ_GOV_PERFORMANCE=y
CONFIG_CPU_FREQ_GOV_POWERSAVE=y
CONFIG_CPU_FREQ_GOV_USERSPACE=y
CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE=y
# Multiprocessor support
CONFIG_SMP=y
CONFIG_PADATA=y
CONFIG_AIO=y
