# Remove features which are not needed

# Disable kernel unit tests
# CONFIG_KUNIT is not set

# Remove the general notification queue
# CONFIG_WATCH_QUEUE is not set

# Remove debugging for RTCs
# CONFIG_TIME_KUNIT_TEST is not set

# Remove pressure stall info tracking
# CONFIG_PSI is not set

# Remove the ACPI error interface
# CONFIG_ACPI_APEI is not set

# Remove support for filesystems which are not used
# AFS_FS is not set
# CEPH_FS is not set
# CONFIG_REISERFS_FS is not set
# CONFIG_JFS_FS is not set
# CONFIG_XFS_FS is not set
# CONFIG_GFS2_FS is not set
# CONFIG_OCFS2_FS is not set
# CONFIG_NILFS2_FS is not set
# CONFIG_F2FS_FS is not set
# CONFIG_ZONEFS_FS is not set
# CONFIG_FS_DAX is not set
# CONFIG_FS_ENCRYPTION is not set
# CONFIG_FS_VERITY is not set
# CONFIG_ORANGEFS_FS is not set
# CONFIG_AFFS_FS is not set
# CONFIG_ECRYPT_FS is not set
# CONFIG_HFS_FS is not set
# CONFIG_HFSPLUS_FS is not set
# CONFIG_BEFS_FS is not set
# CONFIG_JFFS2_FS is not set
# CONFIG_UBIFS_FS is not set
# CONFIG_CRAMFS is not set
# CONFIG_MINIX_FS is not set
# CONFIG_ROMFS_FS is not set
# CONFIG_PSTORE is not set
# CONFIG_SYSV_FS is not set
# CONFIG_UFS_FS is not set
# CONFIG_EROFS_FS is not set
# CONFIG_VBOXSF_FS is not set
# CONFIG_DLM is not set
# CONFIG_UNICODE is not set
#
# Network filesystems
# CONFIG_NETWORK_FILESYSTEMS is not set
#
# Language support codepages
# CONFIG_NLS_CODEPAGE_737 is not set
# CONFIG_NLS_CODEPAGE_775 is not set
# CONFIG_NLS_CODEPAGE_850 is not set
# CONFIG_NLS_CODEPAGE_852 is not set
# CONFIG_NLS_CODEPAGE_855 is not set
# CONFIG_NLS_CODEPAGE_857 is not set
# CONFIG_NLS_CODEPAGE_860 is not set
# CONFIG_NLS_CODEPAGE_861 is not set
# CONFIG_NLS_CODEPAGE_862 is not set
# CONFIG_NLS_CODEPAGE_863 is not set
# CONFIG_NLS_CODEPAGE_864 is not set
# CONFIG_NLS_CODEPAGE_865 is not set
# CONFIG_NLS_CODEPAGE_866 is not set
# CONFIG_NLS_CODEPAGE_869 is not set
# CONFIG_NLS_CODEPAGE_936 is not set
# CONFIG_NLS_CODEPAGE_950 is not set
# CONFIG_NLS_CODEPAGE_932 is not set
# CONFIG_NLS_CODEPAGE_949 is not set
# CONFIG_NLS_CODEPAGE_874 is not set
# CONFIG_NLS_ISO8859_8 is not set
# CONFIG_NLS_CODEPAGE_1250 is not set
# CONFIG_NLS_CODEPAGE_1251 is not set
# CONFIG_NLS_ISO8859_2 is not set
# CONFIG_NLS_ISO8859_3 is not set
# CONFIG_NLS_ISO8859_4 is not set
# CONFIG_NLS_ISO8859_5 is not set
# CONFIG_NLS_ISO8859_6 is not set
# CONFIG_NLS_ISO8859_7 is not set
# CONFIG_NLS_ISO8859_9 is not set
# CONFIG_NLS_ISO8859_13 is not set
# CONFIG_NLS_ISO8859_14 is not set
# CONFIG_NLS_ISO8859_15 is not set
# CONFIG_NLS_KOI8_R is not set
# CONFIG_NLS_KOI8_U is not set
# CONFIG_NLS_MAC_ROMAN is not set
# CONFIG_NLS_MAC_CELTIC is not set
# CONFIG_NLS_MAC_CENTEURO is not set
# CONFIG_NLS_MAC_CROATIAN is not set
# CONFIG_NLS_MAC_CYRILLIC is not set
# CONFIG_NLS_MAC_GAELIC is not set
# CONFIG_NLS_MAC_GREEK is not set
# CONFIG_NLS_MAC_ICELAND is not set
# CONFIG_NLS_MAC_INUIT is not set
# CONFIG_NLS_MAC_ROMANIAN is not set
# CONFIG_NLS_MAC_TURKISH is not set
# CONFIG_DLM is not set
#



# Remove drivers which are not used
# Disable pccard
# CONFIG_PCCARD is not set
# CONFIG_MHI_BUS is not set
# 
# Disable parallel port
# CONFIG_PARPORT is not set
# 
# Disable MMC/SD support
# CONFIG_MMC is not set
# 
# Disable sony memstick
# CONFIG_MEMSTICK is not set
# 
# Disable multimedia (capture card/webcam)
# CONFIG_MEDIA_SUPPORT is not set
# 
# Disable Target Core Mod
# CONFIG_TARGET_CORE is not set
# 
# Disable MPT
# CONFIG_FUSION is not set
# 
# Disable firewire
# CONFIG_FIREWIRE is not set
# CONFIG_FIREWIRE_NOSY is not set
# 
# Disable Macintosh drivers
# CONFIG_MACINTOSH_DRIVERS is not set
# 
# Disable sound
# CONFIG_SOUND is not set
# 
# Disable infinband
# CONFIG_INFINIBAND is not set
# 
# Disable android driveers
# CONFIG_ANDROID is not set
# 
# Disable FPGA drivers
# CONFIG_FPGA is not set
# 
# Disable multiplexers
# CONFIG_MUX_ADG792A is not set
# CONFIG_MUX_GPIO is not set
# 
# Disable unused PHY
# CONFIG_USB_LGM_PHY is not set
# CONFIG_PHY_INTEL_LGM_EMMC is not set
# 
# Disable specific hardware support
# CONFIG_CHROME_PLATFORMS is not set
# CONFIG_MELLANOX_PLATFORM is not set
# CONFIG_SURFACE_PLATFORMS is not set
#
# Disable hyperv guest support
# CONFIG_HYPERV is not set
# 
# Disable 1-wire support
# CONFIG_W1 is not set
# 
# Disable accessibility drivers
# CONFIG_ACCESSIBILITY is not set
# 
# Disable unused HID
# CONFIG_INTEL_ISH_HID is not set
# CONFIG_AMD_SFH_HID is not set
#
# Disable IME/Intel drivers
# CONFIG_INTEL_MEI_TXE is not set
# CONFIG_INTEL_MEI_ME is not set
# CONFIG_INTEL_MEI is not set
#
# Disable platform specific drivers
# CONFIG_X86_PLATFORM_DEVICES is not set
#
# Disable SCSI low level drivers (manually enable needed ones)
# SCSI_LOWLEVEL is not set
#
# Disable block devices (manually add needed ones)
# CONFIG_BLK_DEV is not set
#
# Disable networking drivers (manually enable needed ones)
# CONFIG_NETDEVICES is not set
#
# Disable USB drivers (manually enable needed ones)
# CONFIG_USB_SUPPORT
#
# Disable aux display support
# CONFIG_AUXDISPLAY is not set 
#
# Disable staging drivers
# CONFIG_STAGING is not set
#
# Disable virtio accelerators
# CONFIG_VHOST_NET is not set
# CONFIG_VHOST_VSOCK is not set
# CONFIG_VHOST_VDPA is not set
#
# Disable VDPA
# CONFIG_VDPA is not set
#
# Disable virtualization
# CONFIG_VIRTUALIZATION is not set
# CONFIG_VIRT_DRIVERS is not set
# VIRTIO_MENU is not set
#
# Disable soundwire support
# CONFIG_SOUNDWIRE is not set
#
# Disable remote processor subsystem
# CONFIG_REMOTEPROC is not set
#
# Disable unused graphics
# CONFIG_DRM_I915 is not set
# CONFIG_DRM_VGEM is not set 
# CONFIG_DRM_RADEON is not set
# CONFIG_DRM_AMDGPU is not set
# CONFIG_DRM_NOUVEAU is not set
# CONFIG_DRM_VGEM is not set
# CONFIG_DRM_VKMS is not set
# CONFIG_DRM_VMWGFX is not set
# CONFIG_DRM_GMA500 is not set
# CONFIG_DRM_UDL is not set
# CONFIG_DRM_AST is not set
# CONFIG_DRM_MGAG200 is not set
# CONFIG_DRM_QXL is not set
# CONFIG_DRM_VIRTIO_GPU is not set
# CONFIG_DRM_PANEL_WIDECHIPS_WS2401 is not set
# CONFIG_DRM_BOCHS is not set
# CONFIG_DRM_CIRRUS_QEMU is not set
# CONFIG_DRM_GM12U320 is not set
# CONFIG_TINYDRM_ILI9486 is not set
# CONFIG_DRM_VBOXVIDEO is not set
# CONFIG_DRM_GUD is not set
# CONFIG_DRM_HYPERV is not set
# CONFIG_LCD_CLASS_DEVICE is not set
# CONFIG_BACKLIGHT_CLASS_DEVICE is not set
# CONFIG_FB_VGA16 is not set
# CONFIG_FB_VESA is not set
# CONFIG_XEN_FBDEV_FRONTEND is not set
# CONFIG_FB_SSD1307 is not set
# CONFIG_FB_TILEBLITTING is not set
#
# Disable unused USB
#
#
# MISC
# CONFIG_MTD is not set
# CONFIG_IBM_ASM is not set
# CONFIG_TIFM_CORE is not set
# CONFIG_ENCLOSURE_SERVICES is not set
# CONFIG_SGI_XP is not set
# CONFIG_HP_ILO is not set
# CONFIG_SGI_GRU is not set
# CONFIG_APDS9802ALS is not set
# CONFIG_ISL29003 is not set
# CONFIG_ISL29020 is not set
# CONFIG_SENSORS_TSL2550 is not set
# CONFIG_SENSORS_BH1770 is not set
# CONFIG_SENSORS_APDS990X is not set
# CONFIG_VMWARE_BALLOON is not set
# CONFIG_DW_XDATA_PCIE is not set
# CONFIG_CB710_CORE is not set
# CONFIG_EEPROM_AT24 is not set
# CONFIG_EEPROM_LEGACY is not set
# CONFIG_EEPROM_MAX6875 is not set
# CONFIG_EEPROM_93CX6 is not set
# CONFIG_EEPROM_IDT_89HPESX is not set
# CONFIG_EEPROM_IDT_89HPESX is not set
# CONFIG_SENSORS_LIS3_I2C is not set
# CONFIG_ALTERA_STAPL is not set
# CONFIG_VMWARE_VMCI is not set
# CONFIG_ECHO is not set
# CONFIG_BCM_VK is not set
# CONFIG_MISC_ALCOR_PCI is not set
# CONFIG_MISC_RTSX_PCI is not set
# CONFIG_MISC_RTSX_USB is not set
# CONFIG_UACCE is not set
# CONFIG_PVPANIC is not set
#

# Remove support for networking subsystems which are not used
# CONFIG_HAMRADIO is not set
# CONFIG_CAN is not set
# CONFIG_BT is not set
# CONFIG_AF_KCM is not set
# CONFIG_MCTP is not set
# WIRELESS is not set
# CONFIG_RFKILL is not set
# CONFIG_NET_9P is not set
# CONFIG_NFC is not set
# CONFIG_PSAMPLE is not set
# CONFIG_LWTUNNEL_BPF is not set
# CONFIG_FAILOVER is not set
# CONFIG_CEPH_LIB is not set
# CONFIG_AF_RXRPC is not set
# CONFIG_NET_IFE is not set
# CONFIG_LWTUNNEL is not set
# CONFIG_PSAMPLE is not set
#
#
# Networking misc
# NET_ACT_IFE is not set
# IPV6_ILA is not set
# CONFIG_NET_NCSI is not set
# CONFIG_NET_NSH is not set
# CONFIG_ATM_BR2684 is not set
# CONFIG_TIPC is not set
# CONFIG_RDS is not set
# CONFIG_IP_SCTP is not set
# CONFIG_MPTCP is not set
# CONFIG_INET_IPCOMP iw not set
# CONFIG_INET_ESP is not set
# CONFIG_INET_AH is not set
# CONFIG_NET_FOU_IP_TUNNELS is not set
# CONFIG_NET_IPVTI is not set
# CONFIG_NET_IPGRE_DEMUX is not set
# CONFIG_NET_IPIP is not set
# CONFIG_XFRM_INTERFACE is not set
# CONFIG_XFRM_SUB_POLICY is not set
# CONFIG_NET_KEY is not set
# CONFIG_XFRM_MIGRATE is not set
# CONFIG_XFRM_STATISTICS is not set
# CONFIG_SMC is not set
# CONFIG_NET_ACT_IFE is not set
# CONFIG_IPV6_ILA is not set
# CONFIG_IPV6_SEG6_LWTUNNEL is not set
# CONFIG_IPV6_RPL_LWTUNNEL is not set
# CONFIG_IPV6_IOAM6_LWTUNNEL is not set
# CONFIG_IPV6_SEG6_HMAC is not set
# CONFIG_NET_ACT_SAMPLE is not set
#
