# Remove features which are not needed

# Disable kernel unit tests
# CONFIG_KUNIT is not set

# Remove the general notification queue
# CONFIG_WATCH_QUEUE is not set

# Remove debugging for RTCs
# CONFIG_TIME_KUNIT_TEST is not set

# Remove pressure stall info tracking
# CONFIG_PSI is not set

# Remove the ACPI error interface
# CONFIG_ACPI_APEI is not set

# Remove support for filesystems which are not used
# AFS_FS is not set
# CEPH_FS is not set
# CONFIG_REISERFS_FS is not set
# CONFIG_JFS_FS is not set
# CONFIG_XFS_FS is not set
# CONFIG_GFS2_FS is not set
# CONFIG_OCFS2_F is not set
# CONFIG_NILFS2_FS is not set
# CONFIG_F2FS_FS is not set
# CONFIG_ZONEFS_FS is not set
# CONFIG_FS_DAX is not set
# CONFIG_FS_ENCRYPTION is not set
# CONFIG_FS_VERITY is not set
# CONFIG_ORANGEFS_FS is not set
# CONFIG_AFFS_FS is not set
# CONFIG_ECRYPT_FS is not set
# CONFIG_HFS_FS is not set
# CONFIG_HFSPLUS_FS is not set
# CONFIG_BEFS_FS is not set
# CONFIG_JFFS2_FS is not set
# CONFIG_UBIFS_FS is not set
# CONFIG_CRAMFS is not set
# CONFIG_MINIX_FS is not set
# CONFIG_ROMFS_FS is not set
# CONFIG_PSTORE is not set
# CONFIG_SYSV_FS is not set
# CONFIG_UFS_FS is not set
# CONFIG_EROFS_FS is not set
# CONFIG_VBOXSF_FS is not set
# CONFIG_DLM is not set
# CONFIG_UNICODE is not set
#
# Network filesystems
# CONFIG_NETWORK_FILESYSTEMS is not set
#
# Language support codepages
# CONFIG_NLS_CODEPAGE_737 is not set
# CONFIG_NLS_CODEPAGE_775 is not set
# CONFIG_NLS_CODEPAGE_850 is not set
# CONFIG_NLS_CODEPAGE_852 is not set
# CONFIG_NLS_CODEPAGE_855 is not set
# CONFIG_NLS_CODEPAGE_857 is not set
# CONFIG_NLS_CODEPAGE_860 is not set
# CONFIG_NLS_CODEPAGE_861 is not set
# CONFIG_NLS_CODEPAGE_862 is not set
# CONFIG_NLS_CODEPAGE_863 is not set
# CONFIG_NLS_CODEPAGE_864 is not set
# CONFIG_NLS_CODEPAGE_865 is not set
# CONFIG_NLS_CODEPAGE_866 is not set
# CONFIG_NLS_CODEPAGE_869 is not set
# CONFIG_NLS_CODEPAGE_936 is not set
# CONFIG_NLS_CODEPAGE_950 is not set
# CONFIG_NLS_CODEPAGE_932 is not set
# CONFIG_NLS_CODEPAGE_949 is not set
# CONFIG_NLS_CODEPAGE_874 is not set
# CONFIG_NLS_ISO8859_8 is not set
# CONFIG_NLS_CODEPAGE_1250 is not set
# CONFIG_NLS_CODEPAGE_1251 is not set
# CONFIG_NLS_ISO8859_2 is not set
# CONFIG_NLS_ISO8859_3 is not set
# CONFIG_NLS_ISO8859_4 is not set
# CONFIG_NLS_ISO8859_5 is not set
# CONFIG_NLS_ISO8859_6 is not set
# CONFIG_NLS_ISO8859_7 is not set
# CONFIG_NLS_ISO8859_9 is not set
# CONFIG_NLS_ISO8859_13 is not set
# CONFIG_NLS_ISO8859_14 is not set
# CONFIG_NLS_ISO8859_15 is not set
# CONFIG_NLS_KOI8_R is not set
# CONFIG_NLS_KOI8_U is not set
# CONFIG_NLS_MAC_ROMAN is not set
# CONFIG_NLS_MAC_CELTIC is not set
# CONFIG_NLS_MAC_CENTEURO is not set
# CONFIG_NLS_MAC_CROATIAN is not set
# CONFIG_NLS_MAC_CYRILLIC is not set
# CONFIG_NLS_MAC_GAELIC is not set
# CONFIG_NLS_MAC_GREEK is not set
# CONFIG_NLS_MAC_ICELAND is not set
# CONFIG_NLS_MAC_INUIT is not set
# CONFIG_NLS_MAC_ROMANIAN is not set
# CONFIG_NLS_MAC_TURKISH is not set
# CONFIG_DLM is not set

# Remove support for networking subsystems which are not used
# 
# CONFIG_HAMRADIO is not set
# CONFIG_CAN is not set
# CONFIG_BT is not set
# CONFIG_AF_KCM is not set
# CONFIG_MCTP is not set
# CONFIG_RFKILL is not set
# CONFIG_NET_9P is not set
# CONFIG_NFC is not set
# CONFIG_PSAMPLE is not set
# CONFIG_LWTUNNEL_BPF is not set
# CONFIG_FAILOVER is not set
# 
# Drivers
# CONFIG_IEEE802154_DRIVERS is not set
# CONFIG_WLAN is not set
# CONFIG_GNSS is not set
# CONFIG_XEN_NETDEV_FRONTEND is not set
# CONFIG_XEN_NETDEV_BACKEND is not set
# CONFIG_WWAN is not set
# CONFIG_VMXNET3 is not set
# CONFIG_FUJITSU_ES is not set
# CONFIG_USB4_NET is not set
# CONFIG_HYPERV_NET is not set
# CONFIG_NETDEVSIM is not set
# CONFIG_VIRTIO_NET is not set
# CONFIG_NET_FAILOVER is not set
# CONFIG_SLIP is not set
# CONFIG_PPP is not set
# CONFIG_BONDING is not set
# CONFIG_EQUALIZER is not set
# CONFIG_NET_FC is not set
# CONFIG_IFB is not set
# CONFIG_NET_TEAM is not set
# CONFIG_GENEVE is not set
# CONFIG_BAREUDP is not set
# CONFIG_GTP is not set
# CONFIG_MACSEC is not set
# NTB_NETDEV is not set
# CONFIG_NLMON is not set
# CONFIG_NET_VRF is not set
#
# Networking misc
# NET_ACT_IFE is not set
# IPV6_ILA is not set
#

# Remove drivers which are not used
# Disable pccard
# CONFIG_PCCARD is not set
# CONFIG_MHI_BUS is not set
# Disable parallel port
# CONFIG_PARPORT is not set
# Disable MMC/SD support
# CONFIG_MMC is not set
# Disable sony memstick
# CONFIG_MEMSTICK is not set
# Disable multimedia (capture card/webcam)
# CONFIG_MEDIA_SUPPORT is not set
# 
# Disable platform specific drivers
# CONFIG_X86_PLATFORM_DEVICES is not set
#
# Disable staging drivers
# CONFIG_STAGING is not set
#
# Disable unused graphics
# CONFIG_DRM_I915 is not set
# CONFIG_DRM_VGEM is not set 
# CONFIG_DRM_RADEON is not set
# CONFIG_DRM_AMDGPU is not set
# CONFIG_DRM_NOUVEAU is not set
# CONFIG_DRM_VGEM is not set
# CONFIG_DRM_VKMS is not set
# CONFIG_DRM_VMWGFX is not set
# CONFIG_DRM_GMA500 is not set
# CONFIG_DRM_UDL is not set
# CONFIG_DRM_AST is not set
# CONFIG_DRM_MGAG200 is not set
# CONFIG_DRM_QXL is not set
# CONFIG_DRM_VIRTIO_GPU is not set
# CONFIG_DRM_PANEL_WIDECHIPS_WS2401 is not set
# CONFIG_DRM_BOCHS is not set
# CONFIG_DRM_CIRRUS_QEMU is not set
# CONFIG_DRM_GM12U320 is not set
# CONFIG_TINYDRM_ILI9486 is not set
# CONFIG_DRM_VBOXVIDEO is not set
# CONFIG_DRM_GUD is not set
# CONFIG_DRM_HYPERV is not set
# CONFIG_LCD_CLASS_DEVICE is not set
# CONFIG_BACKLIGHT_CLASS_DEVICE is not set
# CONFIG_FB_VGA16 is not set
# CONFIG_FB_VESA is not set
# CONFIG_XEN_FBDEV_FRONTEND is not set
# CONFIG_FB_SSD1307 is not set
# CONFIG_FB_TILEBLITTING is not set
#
# Disable unused USB
# CONFIG_USB_APPLEDISPLAY is not set
# CONFIG_USB_SL811_HCD is not set
# CONFIG_USB_ACM is not set
# Disable USB network cards
# USB_NET_DRIVERS is not set
#
#
# MISC
# CONFIG_MTD is not set
# CONFIG_IBM_ASM is not set
# CONFIG_TIFM_CORE is not set
# CONFIG_ENCLOSURE_SERVICES is not set
# CONFIG_SGI_XP is not set
# CONFIG_HP_ILO is not set
# CONFIG_SGI_GRU is not set
# CONFIG_APDS9802ALS is not set
# CONFIG_ISL29003 is not set
# CONFIG_ISL29020 is not set
# CONFIG_SENSORS_TSL2550 is not set
# CONFIG_SENSORS_BH1770 is not set
# CONFIG_SENSORS_APDS990X is not set
# CONFIG_VMWARE_BALLOON is not set
# CONFIG_DW_XDATA_PCIE is not set
# CONFIG_CB710_CORE is not set
# CONFIG_EEPROM_AT24 is not set
# CONFIG_EEPROM_LEGACY is not set
# CONFIG_EEPROM_MAX6875 is not set
# CONFIG_SCSI_WD719X is not set
# CONFIG_EEPROM_93CX6 is not set
# CONFIG_EEPROM_IDT_89HPESX is not set
# CONFIG_EEPROM_IDT_89HPESX is not set
# CONFIG_SENSORS_LIS3_I2C is not set
#
#
